html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Shantellsans", sans-serif
}

body {
   
    box-shadow: 5px 5px 5px 0px rgb(9, 26, 121);
    font-family: Verdana, sans-serif;
    
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 5% 15% 10% 5%;
      
    background-color: cornflowerblue;
    color: white;
    text-align:center 

   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310c83;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 50px;
    text-decoration: none;


.navbar {
    display:flex;
   
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

button {
    border-color: var(--azul_oscuro);
    border-width: 1px;
    border-style: solid;
    border-radius: 2rem;
    font-weight: 700;
    padding: 3px 3px;
}

